body {
  background: white;
  overflow-y: scroll;
}

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.htc_graph.htc-noData {
  font-size: 18px;
  font-weight: bold;
}

text {
    font: 12px sans-serif;
}

.htc_graph .x_tick {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0px;
    border-left: 1px dotted rgba(0, 0, 0, 0.2);
    pointer-events: none;
}
.htc_graph .x_tick .title {
    position: absolute;
    font-size: 12px;
    font-family: Arial, sans-serif;
    opacity: 0.5;
    white-space: nowrap;
    margin-left: 3px;
    bottom: 1px;
}

.htc_annotation_timeline {
    height: 1px;
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    position: relative;
}
.htc_annotation_timeline .annotation {
    position: absolute;
    height: 6px;
    width: 6px;
    margin-left: -2px;
    top: -3px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
}
.htc_graph .annotation_line {
    position: absolute;
    top: 0;
    bottom: -6px;
    width: 0px;
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    display: none;
}
.htc_graph .annotation_line.active {
    display: block;
}

.htc_graph .annotation_range {
        background: rgba(0, 0, 0, 0.1);
        display: none;
        position: absolute;
        top: 0;
        bottom: -6px;
}
.htc_graph .annotation_range.active {
        display: block;
}
.htc_graph .annotation_range.active.offscreen {
        display: none;
}

.htc_annotation_timeline .annotation .content {
    background: white;
    color: black;
    opacity: 0.9;
    padding: 5px 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    position: relative;
    z-index: 20;
    font-size: 12px;
    padding: 6px 8px 8px;
    top: 18px;
    left: -11px;
    width: 160px;
    display: none;
    cursor: pointer;
}
.htc_annotation_timeline .annotation .content:before {
    content: '\25b2';
    position: absolute;
    top: -11px;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
}
.htc_annotation_timeline .annotation.active,
.htc_annotation_timeline .annotation:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: none;
}
.htc_annotation_timeline .annotation .content:hover {
    z-index: 50;
}
.htc_annotation_timeline .annotation.active .content {
    display: block;
}
.htc_annotation_timeline .annotation:hover .content {
    display: block;
    z-index: 50;
}
.htc_graph .y_axis,
.htc_graph  .x_axis_d3 {
    fill: none;
}
.htc_graph .y_ticks .tick,
.htc_graph .x_ticks_d3 .tick {
    stroke: rgba(0, 0, 0, 0.16);
    stroke-width: 2px;
    shape-rendering: crisp-edges;
    pointer-events: none;
}
.htc_graph .y_grid .tick,
.htc_graph .x_grid_d3 .tick {
    z-index: -1;
    stroke: rgba(0, 0, 0, 0.20);
    stroke-width: 1px;
    stroke-dasharray: 1 1;
}
.htc_graph .y_grid path,
.htc_graph .x_grid_d3 path  {
    fill: none;
    stroke: none;
}
.htc_graph .y_ticks path,
.htc_graph .x_ticks_d3 path {
    fill: none;
    stroke: #808080;
}
.htc_graph .y_ticks text,
.htc_graph .x_ticks_d3 text {
    opacity: 0.5;
    font-size: 12px;
    pointer-events: none;
    font-weight: bold;
}
.htc_graph .x_tick.glow .title,
.htc_graph .y_ticks.glow text {
    fill: black;
    color: black;
    text-shadow:
        -1px 1px 0 rgba(255, 255, 255, 0.1),
        1px -1px 0 rgba(255, 255, 255, 0.1),
        1px 1px 0 rgba(255, 255, 255, 0.1),
        0px 1px 0 rgba(255, 255, 255, 0.1),
        0px -1px 0 rgba(255, 255, 255, 0.1),
        1px 0px 0 rgba(255, 255, 255, 0.1),
        -1px 0px 0 rgba(255, 255, 255, 0.1),
        -1px -1px 0 rgba(255, 255, 255, 0.1);
}
.htc_graph .y_grid .zero line {
  stroke-dasharray: 0 0;
  stroke: #414042;
}

.htc_graph .y-axis-label, .htc_graph .x-axis-label, .htc_graph .dot {
    font-size: 12px;
    color: #414042;
    fill: #414042;
    font-weight: bold;
}

.htc_graph .dot text {
  font-size: 10px;
}

.htc_graph .dot path {
  fill: white;
  stroke-width: 2;
  stroke: #0d233a;
}

.htc_graph .dot path.hover {
  fill: #609ac1;
}


.htc_graph text, .htc_graph tspan, .htc_graph textPath {
  white-space: nowrap;
}

.htc_graph .x_tick.inverse .title,
.htc_graph .y_ticks.inverse text {
    fill: white;
    color: white;
    text-shadow:
        -1px 1px 0 rgba(0, 0, 0, 0.8),
        1px -1px 0 rgba(0, 0, 0, 0.8),
        1px 1px 0 rgba(0, 0, 0, 0.8),
        0px 1px 0 rgba(0, 0, 0, 0.8),
        0px -1px 0 rgba(0, 0, 0, 0.8),
        1px 0px 0 rgba(0, 0, 0, 0.8),
        -1px 0px 0 rgba(0, 0, 0, 0.8),
        -1px -1px 0 rgba(0, 0, 0, 0.8);
}

.htc_legend {
    font-family: Arial;
    font-size: 12px;
    color: white;
    background: #404040;
    display: inline-block;
    padding: 12px 5px;
    border-radius: 2px;
    position: relative;
}
.htc_legend:hover {
    z-index: 10;
}
.htc_legend .swatch {
    width: 10px;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.htc_legend .line {
    clear: both;
    line-height: 140%;
    padding-right: 15px;
}
.htc_legend .line .swatch {
    display: inline-block;
    margin-right: 3px;
    border-radius: 2px;
}
.htc_legend .label {
    margin: 0;
    white-space: nowrap;
    display: inline;
    font-size: inherit;
    background-color: transparent;
    color: inherit;
    font-weight: normal;
    line-height: normal;
    padding: 0px;
    text-shadow: none;
}
.htc_legend .action:hover {
    opacity: 0.6;
}
.htc_legend .action {
    margin-right: 0.2em;
    font-size: 10px;
    opacity: 0.2;
    cursor: pointer;
    font-size: 14px;
}
.htc_legend .line.disabled {
    opacity: 0.4;
}
.htc_legend ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 2px;
    cursor: pointer;
}
.htc_legend li {
    padding: 0 0 0 2px;
    min-width: 80px;
    white-space: nowrap;
}
.htc_legend li:hover {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 3px;
}
.htc_legend li:active {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

.htc_graph .detail {
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    width: 1px;
    transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    -webkit-transition: opacity 0.25s linear;
}
.htc_graph .detail.inactive {
    opacity: 0;
}
.htc_graph .detail .item.active {
    opacity: 1;
}
.htc_graph .detail .x_label {
    font-family: Arial, sans-serif;
    border-radius: 3px;
    padding: 6px;
    opacity: 0.5;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    position: absolute;
    background: white;
    white-space: nowrap;
}
.htc_graph .detail .item {
    position: absolute;
    z-index: 2;
    border-radius: 3px;
    padding: 0.25em;
    font-size: 12px;
    font-family: Arial, sans-serif;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-left: 1em;
    margin-top: -1em;
    white-space: nowrap;
}
.htc_graph .detail .item.active {
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
}
.htc_graph .detail .item:before {
    content: '\25c2';
    position: absolute;
    left: -0.5em;
    color: rgba(0, 0, 0, 0.7);
    width: 0;
}

.htc_graph .detail .dot {
    width: 4px;
    height: 4px;
    margin-left: -4px;
    margin-top: -3px;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background: white;
    border-width: 2px;
    border-style: solid;
    display: none;
    background-clip: padding-box;
}
.htc_graph .detail .dot.active {
    display: block;
}


.htc_graph .brush .extent {
    fill-opacity: .125;
    fill: steelblue;
    shape-rendering: crispEdges;
}

.htc_graph rect.contextResizeHandle {
  fill: #666;
  fill-opacity: .5;
  stroke: #000;
  stroke-width: 1.0px;
  stroke-opacity: 0.8;
}

.htc_graph .mouse_overlay {
    fill: none;
    pointer-events: all;
}

.htc_graph .htc-legend {
    font-size: 11px;
}

.htc_graph .htc-legend-item {
    cursor: pointer;
}


.nvtooltip.with-3d-shadow, .with-3d-shadow .nvtooltip {
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}


.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,1.0);
  padding: 1px;
  border: 1px solid rgba(0,0,0,.2);
  z-index: 10000;

  font-family: Arial;
  font-size: 13px;
  text-align: left;
  pointer-events: none;

  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nvtooltip.with-transitions, .with-transitions .nvtooltip {
  transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
  -webkit-transition: opacity 250ms linear;

  transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
}

.nvtooltip.x-nvtooltip,
.nvtooltip.y-nvtooltip {
  padding: 8px;
}

.nvtooltip h3 {
  margin: 0;
  padding: 4px 14px;
  line-height: 18px;
  font-weight: normal;
  background-color: rgba(247,247,247,0.75);
  text-align: center;

  border-bottom: 1px solid #ebebeb;

  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.nvtooltip p {
  margin: 0;
  padding: 5px 14px;
  text-align: center;
}

.nvtooltip span {
  display: inline-block;
  margin: 2px 0;
}

.nvtooltip table {
  margin: 6px;
  border-spacing:0;
}


.nvtooltip table td {
  padding: 2px 9px 2px 0;
  vertical-align: middle;
}

.nvtooltip table td.key {
  font-weight:normal;
}
.nvtooltip table td.value {
  text-align: right;
  font-weight: bold;
}

.nvtooltip table tr.highlight td {
  padding: 1px 9px 1px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}

.nvtooltip table td.legend-color-guide div {
  width: 8px;
  height: 8px;
  vertical-align: middle;
}

.nvtooltip .footer {
  padding: 3px;
  text-align: center;
}


.nvtooltip-pending-removal {
  position: absolute;
  pointer-events: none;
}

.htc_graph line.nv-guideline {
  stroke: #ccc;
}

.htc_graph rect {
  stroke-opacity: 0;
  transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -webkit-transition: fill-opacity 250ms linear;
  fill-opacity: 0.85;
}

.htc_graph rect.negative {
   zfill: brown;
}

.htc_graph rect.hover {
  fill-opacity: 1;
}

.htc_graph .chart-body .hover rect {
  fill: lightblue;
}

.htc_graph .hover text {
  fill: rgba(0,0,0,1);
}

.htc_graph text {
  font-weight: bold;
  fill: rgba(0,0,0,1);
  stroke: rgba(0,0,0,0);
}

.htc_graph line.stem {
  stroke-opacity: 0.75;
}



.htc_graph .htc-zoom-item rect {
    stroke: #68A;
    stroke-width: 1;
    stroke-opacity: 0.75;
    fill: white;
}

.htc_graph .htc-zoom-item.hover rect {
  fill: lightblue;
}